.container
  .home-banner
    %h1 Welcome to the Identify App!
    %p.lead
      The world's best place for all your verification needs!

    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary'

